<%- include ('partials/header') -%> 
<div class="ui main text container">
    <div class="ui huge header">My Blogs</div>
    <div class="ui top attachment segment">
        <div class="ui divided items">
            
            <% blogs.forEach(function(blog){ %> 
                <% if(blog.author.id.equals(currentUser._id)){ %> 
                    <div class="item">
                        <div class="image">
                            <img src="<%= blog.image %>" alt="">
                        </div>
                        <div class="content">
                            <a href="/blogs/<%= blog._id %>" class="header"><%= blog.title %></a>
                            <div class="meta"><span><%= blog.created.toDateString() %></span></div>
                            <div class="description"><p><%- blog.body.substring(0, 50) %>...</p></div>
                            <div class="extra">
                                <a class="ui right labeled icon button" href="/blogs/<%= blog._id %>"><i class="right arrow icon"></i> Read More</a>
                            </div>
                        </div>                
                    </div>
                <% } else { %>
                    <h4 class="ui header">You have not created any blogs</h4>
                <% } %> 
            <% }) %>
        </div>
    </div>
</div>
<%- include ('partials/footer') -%> 
